.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #edf2f7;
    font-size: 64px;
    z-index: 2;
    border: 2px solid #edf2f7;
    cursor: pointer;
}

.cell:hover {
    background-color: #a50b00;
}