.message-board {
    margin-top: 20px;
    width: 280px;
    height: 38px;
    padding: 10px;
    border: 1px solid #0f0;
    background-color: #000;
    color: #0f0;
    text-align: left;
    overflow: hidden;
    white-space: normal;
    margin-left: auto;
    margin-right: auto;
}

.message-board:after {
    content: "■";
    animation: cursor 1s infinite;
    animation-timing-function: step-end;
    margin-left: 1px;
}

/* Inserts the > before terminal input */
.message-board:before {
    content: "> ";
}

@keyframes cursor {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flicker {
    0% {
        opacity: 0.57861;
    }

    5% {
        opacity: 0.64769;
    }

    10% {
        opacity: 0.73604;
    }

    15% {
        opacity: 0.90626;
    }

    20% {
        opacity: 0.68128;
    }

    25% {
        opacity: 0.83891;
    }

    30% {
        opacity: 0.65583;
    }

    35% {
        opacity: 0.67807;
    }

    40% {
        opacity: 0.66559;
    }

    45% {
        opacity: 0.84693;
    }

    50% {
        opacity: 0.96019;
    }

    55% {
        opacity: 0.58594;
    }

    60% {
        opacity: 0.60313;
    }

    65% {
        opacity: 0.71988;
    }

    70% {
        opacity: 0.53455;
    }

    75% {
        opacity: 0.67288;
    }

    80% {
        opacity: 0.71428;
    }

    85% {
        opacity: 0.70419;
    }

    90% {
        opacity: 0.7003;
    }

    95% {
        opacity: 0.66108;
    }

    100% {
        opacity: 0.54387;
    }
}