.scoreboard {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.scoreboard>div {
    margin: 0 10px;
    text-align: center;
}

.score-label {
    font-size: 20px;
    font-weight: bolder;
    color: #edf2f7;
}

.score-value {
    font-size: 34px;
    color: #edf2f7;
}

.score-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.score-container::before,
.score-container::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: #edf2f7;
}

.score-label {
    margin: 0 10px;
}

.score-value {
    font-weight: bold;
}