@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

@import './components/animations.css';
@import './components/announce.css';
@import './components/board.css';
@import './components/loading-indicator.css';
@import './components/menu.css';
@import './components/monitor.css';
@import './components/winning-cell.css';
@import './components/message-board.css';
@import './components/score-board.css';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "VT323", monospace;
    text-transform: uppercase;
    background-color: black;
    overflow: hidden;
}

.title-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 4.125rem;
    color: #edf2f7;
    font-family: "VT323", monospace;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    white-space: nowrap;
    margin-top: 40px;
    font-weight: bold;
}

.animation:hover {
    animation: flicker 2s infinite;
}

.subtitle {
    font-size: 26px;
    color: #0f0;
    transform: rotate(8deg);
    position: absolute;
    top: -5px;
    right: -1.875rem;
}

.version-info {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: #888;
    font-family: Arial, sans-serif;
}

.sr-only {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
}

@media (max-width: 480px) {
    h1.subtitle {
        right: -20px;
    }
}

/* 매트릭스 효과 */
@keyframes matrixAnimation {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

.matrix-text {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    color: #00FF00;
    font-size: 24px;
    animation: matrixAnimation linear infinite;
    white-space: nowrap;
}