@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

.theme-green {
    --color: var(--green-color);
    --bg: var(--green-bg);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "VT323", monospace;
    text-transform: uppercase;
    background-color: black;
    /* Green text color */
    overflow: hidden;
    /* Hide horizontal scrollbars */
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1.title {
    color: #edf2f7;
    font-size: 62px;
    font-family: "VT323", monospace;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

h1.title:hover {
    animation: flicker 2s infinite;
}

h1.subtitle {
    font-size: 24px;
    color: #0f0;
    transform: rotate(8deg);
    position: absolute;
    top: 10px;
    right: 210px;
}

.version-info {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: #888;
    font-family: Arial, sans-serif;
}

@keyframes flicker {
    0% {
        opacity: 0.57861;
    }

    5% {
        opacity: 0.64769;
    }

    10% {
        opacity: 0.73604;
    }

    15% {
        opacity: 0.90626;
    }

    20% {
        opacity: 0.68128;
    }

    25% {
        opacity: 0.83891;
    }

    30% {
        opacity: 0.65583;
    }

    35% {
        opacity: 0.67807;
    }

    40% {
        opacity: 0.66559;
    }

    45% {
        opacity: 0.84693;
    }

    50% {
        opacity: 0.96019;
    }

    55% {
        opacity: 0.58594;
    }

    60% {
        opacity: 0.60313;
    }

    65% {
        opacity: 0.71988;
    }

    70% {
        opacity: 0.53455;
    }

    75% {
        opacity: 0.67288;
    }

    80% {
        opacity: 0.71428;
    }

    85% {
        opacity: 0.70419;
    }

    90% {
        opacity: 0.7003;
    }

    95% {
        opacity: 0.66108;
    }

    100% {
        opacity: 0.54387;
    }
}